.DefaultSettingsPopup-col-os label {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.DefaultSettingsPopup-col-os {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.DefaultSettingsPopup-row-os-1 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.DefaultSettingsPopup-row-os-1 .compulsary-fields-os {
  padding-bottom: 1rem;
}
.compulsary-fields-os {
  display: flex;
  color: red;
}
.DefaultSettingsPopup-os {
  position: fixed;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.DefaultSettingsPopup-row-os {
  width: 800px;
  height: auto;
  background: #fff;
  padding: 3rem;
  position: relative;
  border-radius: 8px;
}
.DefaultSettingsPopup-cross-btn-os {
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  width: max-content;
}
.DefaultSettingsPopup-cross-btn-os button {
  width: 24px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 4px;
}
.DefaultSettingsPopup-col-os input {
  /* width: 100%; */
  /* cursor: pointer; */
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  background: #e6e6e6;
  color: #000;
}
.DefaultSettingsPopup-submit-os button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 1rem;
  border-radius: 8px;
}
.DefaultSettingsPopup-back-btn-os {
  background: #fff;
  border: 1px solid #000;
}
.DefaultSettingsPopup-submit-btn-os {
  background: #000;
  border: 1px solid #000;
  color: #fff;
}
.DefaultSettingsPopup-submit-os {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.DefaultSettingsPopup-apply-default-os label {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.DefaultSettingsPopup-apply-default-os {
  padding: 8px 1rem;
  background: #e6e6e6;
  border-radius: 8px;
}

/* custom checkbox starts1 */
.control-os {
  position: relative;
}
.control-os input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control-indicatoros {
  position: relative;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #333;
  border-radius: 4px;
}
.control--radio-os .control-indicatoros {
  border-radius: 50%;
}
.control-os input:checked ~ .control-indicatoros {
  background: #000;
  border: 1px solid #000;
}
.control-os input:disabled ~ .control-indicatoros {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control-indicatoros:after {
  content: "";
  position: absolute;
  display: none;
}
.control-os input:checked ~ .control-indicatoros:after {
  display: block;
}
.control-checkbox-os .control-indicatoros:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox-os input:disabled ~ .control-indicatoros:after {
  border-color: #7b7b7b;
}
.control--radio-os .control-indicatoros:after {
  left: 6px;
  top: 6px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio-os input:disabled ~ .control-indicatoros:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  width: 30%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  background: #e6e6e6;
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
/* custom checkbox ends1 */

.tooptip-icon-os:hover span {
  opacity: 1;
  transition: 0.3s;
}
.tooptip-icon-os span {
  position: absolute;
  width: max-content;
  left: 30px;
  top: -10px;
  font-size: 14px;
  opacity: 0;
  transition: 0.3s;
}

.tooptip-icon-os {
  position: relative;
  display: flex;
}

@media screen and (max-width: 1600px) {
  .DefaultSettingsPopup-os {
    width: 75%;
  }
}
