.container-os {
    padding-left: 2rem;
    padding-right: 2rem;
}
.default-section-os {
    padding-bottom: 2rem;
}
.default-padding-os {
    padding-bottom: 2rem;
}
button {
    cursor: pointer;
}
:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}