.container-os {
    padding-left: 2rem;
    padding-right: 2rem;
}
.default-section-os {
    padding-bottom: 2rem;
}
.default-padding-os {
    padding-bottom: 2rem;
}
button {
    cursor: pointer;
}
:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}
.ereror-message-os {
    color: red;
}

.pb-1 {
    padding-bottom: 8px;
}
.pb-2 {
    padding-bottom: 12px;
}
.pb-3 {
    padding-bottom: 1rem;
}
.pt-1 {
    padding-top: 8px;
}
.pt-2 {
    padding-top: 12px;
}
.pt-3 {
    padding-top: 1rem;
}